[Desktop Entry]
Name=Kramden gsettings prime
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=preferences-system
Exec=/usr/share/provider/gsettings-desktop-directories-prime
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
OnlyShowIn=GNOME;Unity;
NoDisplay=true
AutostartCondition=unless-exists kramden-gsettings-prime-done
