Source: kramden-overrides
Section: x11
Priority: optional
Maintainer: Ken VanDine <ken.vandine@ubuntu.com>
Build-Depends: debhelper (>= 13),
Standards-Version: 4.1.3

Package: kramden-overrides
Architecture: amd64
Depends: gimp,
 scratch,
 landscape-client,
 audacity,
 gcompris-qt,
 inkscape,
 krita,
 openshot-qt,
 gir1.2-webkit2-4.1,
 libfuse2,
 cheese,
 aisleriot,
 gnome-mahjongg,
 gnome-mines,
 gnome-sudoku,
 branding-ubuntu,
 libreoffice-style-yaru,
 libreoffice-gnome,
 libreoffice-writer,
 libreoffice-calc,
 libreoffice-impress,
 libreoffice-math,
 simple-scan,
 shotwell,
 ${misc:Depends},
Recommends: ubuntu-restricted-addons,
 ubuntu-restricted-extras,
Description: Kramden Ubuntu Overrides
 The default settings for a Kramden install of Ubuntu.
